.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.options {
    margin-left: 14px;
}

.volumeIcon {
    margin-left: 16px;
}

.relativeContainer {
    margin-left: 4px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    cursor: pointer;
}

.progressBar {
    background-color: #ffffff;
    position: absolute;
    height: 4px;
}

.progressBarHover {
    display: none;
    background-color: #ffffff;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.emptyProgressBar {
    background-color: #4d4d4d;
    height: 4px;
    border-radius: 5px;
    width: 100%;
}