.relativeContainer {
    position: relative;
}

.absoluteContainer {
    position: absolute;
    background-color: #282828;
    bottom: 50px;
    right: -164px;
    border-radius: 5px;
    padding: 8px 16px;
}

.triangleTooltip {
    position: absolute;
    height: 0;
    width: 0;
    top: -50px;
    right: -50px;
    border-top: 25px solid #282828;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
}

.deviceContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    min-width: 250px;
}

.deviceContainer:hover {
    background-color: #3d3d3d;
    border-radius: 5px;
}

.deviceIcon {
    margin: 12px 16px;
}

.deviceInfo,
.currentDeviceInfo {
    font-size: 14px;
    font-weight: 200;
}

.currentDevice {
    color: #1db954;
}

.title {
    font-weight: initial;
}

.select {
    margin: 24px 16px;
    font-size: 15px;
}
